[2020-02-28 06:27] subhashreetrip opened #1 "There should not be any kind of node modules in git repo"

[2020-03-01 17:00] varunvme commented on #1
I'll be able to solve this. Please assign me this issue for GSSoC.

[2020-03-01 17:16] PranshuPanwar commented on #1
Hey @subhashreetrip  I love to work on this issue , please assign this issue to me for GSSoC'20.
Thank you.

[2020-03-02 05:03] Aju100 opened #5 "Update the documentation"
I want to update the documentation of Backend project  as part of GSSoC ' 20.
@tanishq9

[2020-03-02 05:49] tanishq9 commented on #5
Yes, I have reviewed your pull request. I will merge it now.

[2020-03-02 05:50] #5 closed

[2020-03-02 09:31] vngarg opened #6 "Added node_modules to gitignore file"
I have added a gitignore folder with node modules in it.
This will remove the problem of node modules being tracked by git.

[2020-03-02 09:37] #6 closed

[2020-03-02 09:39] #1 closed

[2020-03-02 15:46] Aju100 opened #7 "Create contributing guidelines"

[2020-03-02 15:47] Aju100 opened #8 "create license"

[2020-03-02 15:48] Aju100 commented on #8
gshanbhag525 hello sir, which type of license can we create for assigning this issue ?

[2020-03-02 15:49] Aju100 commented on #7
tanishq9  can you assigned me this ,i would be happy to contribute on the project ?

[2020-03-03 17:45] imrishabh18 commented on #8
Can i work on this ?

[2020-03-06 19:08] preeti13456 commented on #8
Interested

[2020-03-06 19:09] preeti13456 commented on #7
Interested

[2020-03-10 17:17] ujjawal01 commented on #8
i want to work on this issue, can i start?
@gshanbhag525

[2020-03-10 17:18] ujjawal01 commented on #7
can i work on this issue? @gshanbhag525  @tanishq9  @Aju100

[2020-03-15 05:40] suchi12j commented on #7
Can I work on this?

[2020-03-15 05:41] suchi12j commented on #8
What exactly we have to do on this?

[2020-03-18 09:18] Riyagoel2 commented on #7
I also want to work on it

[2020-03-24 02:25] Aman-Codes opened #9 "Add ISSUE_TEMPLATE"
I am a GSSOC participant and I would like to add an issue template folder with pull request template bug_report_template.md and feature_request_template.md.

## Screenshots

### Bug Report
![bug report](https://user-images.githubusercontent.com/54680709/77220822-e8d17280-6b69-11ea-9ca4-8df3d5a8c4b2.PNG)

### Feature request
![feature request](https://user-images.githubusercontent.com/54680709/7722

[2020-03-25 12:32] Aman-Codes opened #10 "Add CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
No CODE_OF_CONDUCT.md file is present.

**Describe the solution you'd like**
@gshanbhag525   As a GSSOC participant I would like to add a CODE_OF_CONDUCT.md file in this project. Using [this]( https://www.contributor-covenant.org/version/1/4/code-of-conduct.html) as a reference.

**Additional context**
### Screenshots

![code of co

[2020-03-30 05:31] tanishq9 opened #11 "List all the crop leaf disease categories in text file"
Use the data modeling repository to get these categories, these values are needed because we will have to send the result to the user based on them.

[2020-03-30 05:47] tanishq9 opened #12 "Make a server.js file using express framework"
This app starts a server and listens on port 3000 for connections. The app responds with “Hello World!” for requests to the root URL (/) or route. For every other path, it will respond with a 404 Not Found.

[2020-03-30 06:22] abhushanaj commented on #12
@tanishq9 Sir May I do this?

[2020-03-30 06:35] tanishq9 commented on #12
Yes. I am assigning you this issue.

[2020-03-30 07:47] tanishq9 opened #14 "Create a public folder, add index.html file and form to input file"
the form will input file and send it to backend for crop disease detection, styling html is not compulsory, separate issue will be created for it

[2020-03-30 07:52] #12 closed

[2020-03-30 07:54] abhushanaj commented on #14
@tanishq9  Sir May I work on this. ? I have been waiting for this project to start backend and FE work for long time.  I won't claim other issue after this, since I know others have to work as well on it. :)

[2020-03-30 08:00] abhu-A-J commented on #14
I won't claim any other issue after this ! :)

[2020-03-30 08:05] tanishq9 commented on #14
Yes, we will working on backend for this week. You can claim other issues as well, I can assign a single issue to multiple interested participants, so whosoever is interested will definitely get a chance.

[2020-03-30 08:16] AdityaSingh17 commented on #11
I would like to take this up!

[2020-03-30 08:16] tanishq9 commented on #11
Sure, assigning it to you.

[2020-03-30 08:29] AdityaSingh17 commented on #11
@tanishq9 are you interested in the code as well or just the .txt file will do?

[2020-03-30 08:36] tanishq9 commented on #11
No, code is not needed. Only the names of all categories of the crop disease in .txt file.

[2020-03-30 08:49] #11 closed

[2020-03-30 10:56] #10 closed

[2020-03-30 10:57] #8 closed

[2020-03-30 10:58] #9 closed

[2020-03-30 10:58] #7 closed

[2020-03-30 11:02] tanishq9 opened #17 "Add body parser and static middleware by Express in server.js"
Since, we are passing a form from frontend so we have to parse incoming request bodies in a middleware. Also, to serve static files such as images, CSS files, and JavaScript files, use the express.static built-in middleware function in Express.

Incorporate these changes in server.js.

[2020-03-30 11:24] tanishq9 opened #18 "Make a dummy python file and call it inside server.js when file submit button is clicked"
We would be calling Python script from a Node child process, using python-shell package. The dummy .py file should print("script called"), this .py script will be called on post request at route '/file_upload'. To know more about integrating node with python, read this :

https://medium.com/@HolmesLaurence/integrating-node-and-python-6b8454bfc272

It is mentioned in this blog, how to create node c

[2020-03-30 11:48] #14 closed

[2020-03-30 11:53] tanishq9 opened #19 "Style the html form which takes in a file as input"

[2020-03-30 12:11] abhushanaj commented on #19
@tanishq9 Sir can you assign me this. Because I have completed half of it already since you mentioned to style it on previous PR. :)

[2020-03-30 13:50] abhushanaj commented on #17
@tanishq9 Sir May I work on this?? Thank you!

[2020-03-30 15:25] tanishq9 commented on #17
Yes, but first make changes to the previous PR. At a time, a participant can work on only one issue.

[2020-03-30 17:04] #19 closed

[2020-03-30 17:39] #17 closed

[2020-03-30 17:40] abhushanaj commented on #18
@tanishq9 Sir, May I work on this? This looks like a new concept

[2020-03-30 18:11] tanishq9 commented on #18
Yes, I am assigning it you. All the best.

[2020-03-31 14:13] #18 closed

[2020-03-31 17:33] tanishq9 opened #33 "Add contributing guidelines"
List the basic to advanced git concepts and commands that a participant would require to contribute to any particular repository's codebase, also telling about the best practices for contributing.

Since, every contributor for this repository will have to go through it, so try to make it as intuitive, detailed and informative as possible.

Should preferably be a markdown(.md) file.

[2020-03-31 17:33] abhushanaj commented on #33
@tanishq9  May I try this Sir?

[2020-03-31 17:34] tanishq9 commented on #33
Assigning it to you.

[2020-03-31 17:35] Adyasha8105 commented on #33
@tanishq9  can I?

[2020-03-31 17:36] tanishq9 commented on #33
Yes, assigning you as well.

[2020-03-31 17:37] tanishq9 commented on #33
You both can take your time and submit a PR for this issue till tomorrow 1pm.

[2020-04-01 06:55] #33 closed

[2020-04-01 07:25] tanishq9 opened #35 "Make a text file for leaf disease "Tomato_Septoria_leaf_spot""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:25] tanishq9 opened #36 "Make a text file for leaf disease "Tomato_Late_blight""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:26] abhishekgupta368 commented on #36
i can do it

[2020-04-01 07:26] abhishekgupta368 commented on #35
I can do it

[2020-04-01 07:26] tanishq9 commented on #36
I am assigning you.

[2020-04-01 07:27] abhishekgupta368 commented on #36
thanks

[2020-04-01 07:27] tanishq9 commented on #35
You can work on only one issue at a time.

[2020-04-01 07:28] AdityaSingh17 commented on #35
I would like to work on it!

[2020-04-01 07:28] tanishq9 opened #37 "Make a text file for leaf disease "Tomato_Bacterial_spot""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:29] tanishq9 commented on #35
I am assigning you @AdityaSingh17

[2020-04-01 07:29] abhishekgupta368 commented on #37
I can do it

[2020-04-01 07:29] abhushanaj commented on #37
Can I try this? This is new stuff

[2020-04-01 07:30] tanishq9 opened #38 "Make a text file for leaf disease "Tomato_Leaf_Mold""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:30] Adyasha8105 commented on #38
please assign this issue to me

[2020-04-01 07:31] tanishq9 commented on #37
@abhishekgupta368 you can work on only one issue at a time. Assigning it to you @abhu-A-J

[2020-04-01 07:33] tanishq9 commented on #38
Assigning it to you @Adyasha8105

[2020-04-01 07:33] tanishq9 opened #39 "Make a text file for leaf disease "Tomato_healthy""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:35] abhishekgupta368 commented on #39
i can do it

[2020-04-01 07:35] tanishq9 opened #40 "Make a text file for leaf disease "Potato___Late_blight""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:35] Sapna2001 commented on #40
please assign me this

[2020-04-01 07:35] tanishq9 opened #41 "Make a text file for leaf disease "Tomato__Target_Spot""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:36] tanishq9 commented on #40
Assigning it to you @Sapna2001

[2020-04-01 07:36] Sapna2001 commented on #41
Please assign me this

[2020-04-01 07:37] tanishq9 opened #43 "Make a text file for leaf disease "Tomato__Tomato_mosaic_virus""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:37] Adyasha8105 commented on #41
can you assign this to me?

[2020-04-01 07:38] tanishq9 opened #44 "Make a text file for leaf disease "Potato___healthy""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:39] tanishq9 opened #45 "Make a text file for leaf disease "Tomato_Early_blight""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:39] tanishq9 opened #46 "Make a text file for leaf disease "Potato___Early_blight""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:40] abhishekgupta368 commented on #46
I can do it.

[2020-04-01 07:40] Adyasha8105 commented on #44
please assign this to me?

[2020-04-01 07:40] Adyasha8105 commented on #45
assign this to me?

[2020-04-01 07:41] tanishq9 commented on #41
You can work on only one issue at a time. Get your pull request merged for previous issues to get a new issue assigned to you.

[2020-04-01 07:41] AdityaSingh17 commented on #43
I would like to work on it!

[2020-04-01 07:42] tanishq9 opened #48 "Make a text file for leaf disease "Pepper__bell___Bacterial_spot""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:42] tanishq9 commented on #46
@abhishekgupta368 complete the previous issue assigned to you first.

[2020-04-01 07:43] tanishq9 opened #49 "Make a text file for leaf disease "Tomato__Tomato_YellowLeaf__Curl_Virus""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:44] tanishq9 opened #50 "Make a text file for leaf disease "Tomato_Spider_mites_Two_spotted_spider_mite""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 07:44] tanishq9 opened #51 "Make a text file for leaf disease "Pepper__bell___healthy""
You should make a text file for this leaf disease and add the symptoms, treatment and recommended products for this leaf disease in leaf disease data folder.

**FORMAT OF TEXT FILE**

Symptoms : (Write atleast 3 points)
----
Treatment : (Write atleast 2/3 points)
----
Recommended Products : (Give 2 or 3 links)
----

**EXAMPLE TEXT FILE WITH CORRECT FORMAT**

Symptoms :
1 : The lesions are dark bro

[2020-04-01 08:17] #35 closed

[2020-04-01 08:17] AdityaSingh17 commented on #49
I would like to work on it!

[2020-04-01 08:19] #37 closed

[2020-04-01 08:21] abhushanaj commented on #50
@tanishq9 Sir, may i work on this?

[2020-04-01 08:21] tanishq9 commented on #49
Sure. Assigning it to you.

[2020-04-01 08:23] tanishq9 commented on #50
Sue @abhu-A-J

[2020-04-01 08:25] abhishekgupta368 commented on #48
can I do it, please?

[2020-04-01 08:26] abhishekgupta368 commented on #51
Can I do it, please?

[2020-04-01 08:26] abhishekgupta368 commented on #46
I have done it, can you allot me now?

[2020-04-01 08:30] #36 closed

[2020-04-01 08:30] tanishq9 commented on #51
Yes, assigning it to you.

[2020-04-01 08:35] AdityaSingh17 commented on #48
I would like to work on this issue.

[2020-04-01 08:39] Adyasha8105 commented on #45
Can you now assign me?

[2020-04-01 08:40] Adyasha8105 commented on #48
Can you assign this task to me?

[2020-04-01 08:40] AdityaSingh17 commented on #46
I would like to work on it.

[2020-04-01 08:41] Adyasha8105 commented on #44
can you now assign this task to me?

[2020-04-01 09:01] #49 closed

[2020-04-01 09:02] #50 closed

[2020-04-01 09:03] abhushanaj commented on #48
@tanishq9 Sir
May I do this? Don't have open issues now!

[2020-04-01 09:08] #38 closed

[2020-04-01 09:10] abhishekgupta368 commented on #43
Hey, I have done it, can you assign me?

[2020-04-01 09:11] abhishekgupta368 commented on #48
Hey, I have done it, can you assign me this?

[2020-04-01 09:11] abhishekgupta368 commented on #39
Hey, I have done it, can you assign me

[2020-04-01 09:12] #40 closed

[2020-04-01 09:14] #51 closed

[2020-04-01 09:15] abhishekgupta368 commented on #41
Hey, I have done it, can you assign me

[2020-04-01 09:17] Sapna2001 commented on #43
I would like to work on this.

[2020-04-01 09:17] Sapna2001 commented on #39
I would like to work on this.

[2020-04-01 09:18] Sapna2001 commented on #41
Please assign me this, I have completed the previous issue.

[2020-04-01 09:19] tanishq9 commented on #39
@abhishekgupta368  assigning it to you, @Sapna2001  i will assign some other similar issue to you

[2020-04-01 09:21] tanishq9 commented on #41
@Sapna2001  assigning it to you

[2020-04-01 09:21] tanishq9 commented on #43
@AdityaSingh17  assigning it to you.

[2020-04-01 09:22] tanishq9 commented on #44
yes, assigning it to you.

[2020-04-01 09:22] tanishq9 commented on #45
Sure, but please complete the previous issue assigned to you.

[2020-04-01 09:23] Adyasha8105 commented on #45
ya ok.

[2020-04-01 09:23] tanishq9 commented on #46
Sure guys, both of you have been allotted a issue, close that first, then I will assign this to you.

[2020-04-01 09:24] tanishq9 commented on #48
@abhu-A-J assigning it you as others have been allotted issues for now.

[2020-04-01 09:30] Adyasha8105 commented on #44
@tanishq9  there is no disease like this "potato___healthy"

[2020-04-01 09:36] #48 closed

[2020-04-01 09:37] abhushanaj commented on #46
@tanishq9  Sir, May I do this, if no one is working/assigned on this yet??

[2020-04-01 09:39] AdityaSingh17 commented on #45
My previous assigned issue was completed and merged, can I take this up now?

[2020-04-01 09:42] Adyasha8105 commented on #45
@AdityaSingh17  actually I have done this as the issue which was assigned early I have a doubt on there.

[2020-04-01 09:45] #43 closed

[2020-04-01 09:47] AdityaSingh17 commented on #46
My previous assigned issue was completed and merged, can I take this up now?

[2020-04-01 09:48] tanishq9 commented on #44
That's not a disease, I will have to check with data modeling mentor, but it indicates that leaf of this current type comes under the healthy bracket. Try to add symptoms only for now then.

[2020-04-01 09:49] tanishq9 commented on #46
@AdityaSingh17 assigning it to you.

[2020-04-01 09:50] tanishq9 commented on #46
@abhu-A-J wait I will open that image link issue for you.

[2020-04-01 09:51] tanishq9 commented on #45
@Adyasha8105 assigning it to you. Do complete your previous issue before this.

[2020-04-01 09:51] tanishq9 commented on #45
@AdityaSingh17 already assigned an issue to you.

[2020-04-01 09:53] AdityaSingh17 commented on #46
Also @tanishq9 please be kind enough to assign labels to older closed PRs. :grinning:

[2020-04-01 09:54] tanishq9 commented on #46
Oh, didn't realize as I merged 10 PRs in last 40 minutes or so. On it.

[2020-04-01 09:56] AdityaSingh17 commented on #46
@tanishq9 Busy day! :laughing: Thank you though! :relaxed:

[2020-04-01 10:00] tanishq9 opened #62 "delete .github/images folder and instead of that use github image links"
modify contributing.md accordingly.

[2020-04-01 10:01] abhushanaj commented on #62
@tanishq9 Sir  May l do this ?

[2020-04-01 10:02] tanishq9 commented on #62
Sure.

[2020-04-01 10:05] #39 closed

[2020-04-01 10:07] abhishekgupta368 commented on #44
I want to this.

[2020-04-01 10:08] tanishq9 commented on #44
ok, assigning you @abhishekgupta368

[2020-04-01 10:08] abhishekgupta368 commented on #44
thanks

[2020-04-01 10:17] #46 closed

[2020-04-01 10:17] #45 closed

[2020-04-01 10:20] #62 closed

[2020-04-01 10:31] Sapna2001 commented on #41
#66 Added Tomato_Target_Spot

[2020-04-01 10:42] #41 closed

[2020-04-01 10:47] #44 closed

[2020-04-01 12:36] tanishq9 opened #68 "show the leaf image selected by user below the file upload form. [HTML+CSS]"
![addimagediv](https://user-images.githubusercontent.com/35667308/78137706-69824f80-7443-11ea-8159-91d590070598.gif)
Any more modifications to UI are also welcome.

[2020-04-01 12:36] abhishekgupta368 commented on #68
We can add:
1) Navigation Bar
2) Make the box corner round
3) can have so dynamic background

[2020-04-01 12:40] abhishekgupta368 commented on #68
Can also add feed box, Where we can show news and update regarding agriculture technique

[2020-04-01 12:40] tanishq9 opened #69 "use formidable module for parsing form data, i.e file uploads, save this file in the backend and pass this as argument to dummy.py. [JS+PYTHON]"
Refer this to know how to use formidable : https://www.npmjs.com/package/formidable

Also, the dummy.py script should return the first 5 characters of the file name, why ? Just to check whether we are able to correctly send the file path from the child process that we created in '/file_upload' route

Make sure the image file is being saved in the backend, this image will be required by our python

[2020-04-01 12:41] abhushanaj commented on #68
@tanishq9 Sir  I want to try this.

[2020-04-01 12:42] tanishq9 commented on #68
assigning it to you, please don't modify the file upload form, just style it more because the html part needs no changes.

[2020-04-01 12:42] tanishq9 commented on #68
@abhu-A-J another issue opened up, you want that ?

[2020-04-01 12:42] abhishekgupta368 commented on #69
what we need to do, I don't understand?

[2020-04-01 12:42] abhushanaj commented on #68
I think this should be in FE repo?? and not backend.??

[2020-04-01 12:43] abhishekgupta368 commented on #68
where is front-end

[2020-04-01 12:43] tanishq9 commented on #68
Yes, the main purpose of this repo is to get the API working but still if he wants to style it more, let it be. Frontend will consider all these designs versions.

[2020-04-01 12:43] abhushanaj commented on #69
@tanishq9  Sir, thank you for creating such awesome issues. I want to try this.

[2020-04-01 12:45] tanishq9 commented on #69
Sure, let me explain this issue, the form that will be used to upload leaf image will be sent to the backend post route of '/file_upload' for processing. Assigning it @abhu-A-J

[2020-04-01 12:53] tanishq9 opened #70 "use all the files in leaf-disease folder and convert each of them to JSON. [JSON+FORMATTING]"
The reason is that the python script will send us the label of the leaf disease. According to that, we will send the JSON as output, it is a part of file_upload post route API. Make a separate data.js file and write all diseases JSON there. Refer this screenshot for details.

![output_image](https://user-images.githubusercontent.com/35667308/78139246-d0086d00-7445-11ea-897f-2426d11b9596.png)

Here

[2020-04-01 12:57] tanishq9 opened #71 "add label_image.py script which was made/issue in data modeling repo. [Python+Tensorflow]"
this label_image.py script is used to predict the leaf image's label

[2020-04-01 12:58] tanishq9 opened #72 "google drive link of the h5 model file"
make a text file with link of pre-trained model for classifying leaf disease label

[2020-04-01 13:07] AdityaSingh17 commented on #72
I would like to work on this issue!

[2020-04-01 13:08] AdityaSingh17 commented on #71
Just a query, do we have to just copy the same file and add it here or make the file from scratch again?
In either of the cases, I would like to work on this issue.

[2020-04-01 13:08] tanishq9 commented on #72
You have the most updated h5 link ?

[2020-04-01 13:10] AdityaSingh17 commented on #72
Yes, @gshanbhag525 had sent me the link to be used for prediction function in label_images.py file.

[2020-04-01 13:14] tanishq9 commented on #72
okay, then make a text file for that link, make sure link is not broken and has access to everyone. Also, make changes to readme by specifying the gdrive link there as well. Assigning you.

[2020-04-01 13:15] AdityaSingh17 commented on #72
Where should I text you? @tanishq9

[2020-04-01 13:18] tanishq9 commented on #71
Yes, the code won't change. Labeling it as hard, because I expect it to work correctly with nodejs backend as well. Many of the participants might have to pip install all these dependencies, and will face issue. I want to see screenshots of the script working when it is called inside a child process of file_upload POST route.

[2020-04-01 13:19] tanishq9 commented on #72
I have written make a text file not text me.

[2020-04-01 13:19] tanishq9 commented on #72
Assigning it to you.

[2020-04-01 13:20] tanishq9 commented on #72
I have assigned it to you, you can start working on it.

[2020-04-01 13:33] #72 closed

[2020-04-01 13:38] AdityaSingh17 commented on #71
@tanishq9 I would like to try this out. Give me a day to try it, if I am unable to produce results you may assign the next willing participant.

[2020-04-01 13:38] tanishq9 commented on #71
@AdityaSingh17 you want to close this issue ?

[2020-04-01 13:39] AdityaSingh17 commented on #71
@tanishq9 Yes!

[2020-04-01 13:49] tanishq9 commented on #71
Ok, assigning you.

[2020-04-01 14:06] #69 closed

[2020-04-01 14:07] abhushanaj commented on #70
@tanishq9 Sir Can I take this as well. No one seems to be assigned on this yet!

[2020-04-01 14:13] tanishq9 commented on #70
Sure. Its a very monotonous work, you have copy from text files and write it in JSON format, you might get bored. So, I would strongly recommend listening to some music while doing this 😆
Also, I assume, since you have worked on file_upload POST route and what it returns, you can modify that to return the required JSON based on the output(predicted) label category.

[2020-04-01 14:15] abhushanaj commented on #70
Okay! I'll do the same! :)

[2020-04-01 17:14] #70 closed

[2020-04-01 17:22] tanishq9 commented on #71
@AdityaSingh17 how much time will it take ? Is it possible tomorrow before 1 pm ?

[2020-04-01 18:22] #68 closed

[2020-04-02 10:03] tanishq9 opened #80 "add contributing.md link to readme.md"

[2020-04-02 10:04] abhushanaj commented on #80
I'll take this

[2020-04-02 10:04] abhishekgupta368 commented on #80
I can do it

[2020-04-02 10:06] tanishq9 commented on #80
Assigning it to @abhu-A-J, it is just for a test purpose

[2020-04-02 10:07] abhishekgupta368 commented on #80
ok

[2020-04-02 10:12] #80 closed

[2020-04-02 10:21] abhu-A-J opened #82 "Testing on Actions Incorporated"
This is a test done to check on actions created. Please don't claim this issue since it doesn't come under GSSoC

[2020-04-02 10:26] tanishq9 commented on #82
Testing this issue for checking actions expected working.

[2020-04-02 11:09] #82 closed

[2020-04-03 08:42] tanishq9 opened #84 "Use the model api deployed on : (http://cropaitest.pythonanywhere.com/upload) to get the label of image file uploaded by user"
The image from backend has to be send in base64 encoded form. Don't forget to go through the model api : https://github.com/CropAi/Data-Modeling/blob/master/flask_api_deployed/cropaiflask.py

You might get 414 and 500 errors, try to figure out how to correct them.

[2020-04-03 08:42] abhushanaj commented on #84
I'd like to try this Sir?

[2020-04-03 08:43] tanishq9 commented on #84
assigning you

[2020-04-03 10:50] abhishekgupta368 commented on #84
this error is coming due to slow response time of the prediction and exceeding 30 sec in giving result.

[2020-04-03 11:11] tanishq9 commented on #84
In this case, you will have to set the connect, read, write timeouts for the request object, which depends upon on what API you are using to send these http requests.

[2020-04-12 19:13] tanishq9 opened #85 "Share screenshots of successful working of backend [LOCAL SERVER SETUP] [OPEN FOR ALL]"
[Video Link for Backend Working](https://www.youtube.com/watch?v=BijRVVunqME) [Watch this to know better]

This issue is open for all participants. (share screenshots of your backend working)

Follow the given instructions to update your backend repository :

1. Firstly and most importantly, you need to have `node` installed in your system, so please go through the [README.md file](https://github.

[2020-04-12 19:27] #71 closed

[2020-04-12 19:28] #84 closed

[2020-04-12 20:45] shreyakapoor08 commented on #85
can I do this?

[2020-04-12 21:03] tanishq9 commented on #85
ok, make sure you have understood the issue clearly.

[2020-04-13 08:56] tanishq9 opened #87 "Refactor 'file_upload' route code to send the JSON according to the predicted category"
Example if the output from python script is : 'Pepper__bell___Bacterial_spot', then use `data.js` to send the appropriate JSON as response.

[2020-04-13 08:56] abhushanaj commented on #87
Sir may I?

[2020-04-13 08:57] abhishekgupta368 commented on #87
I can do it

[2020-04-13 08:57] tanishq9 commented on #87
sure, assigning it to you.

[2020-04-13 08:58] tanishq9 commented on #87
@abhishekgupta368 first complete the screenshot issue, you will get better insight into this issue then

[2020-04-13 09:37] tanishq9 opened #89 "Add icon logo for the website"
Inside the `<head>` tag add logo of website using the `<link>` tag. The logo is same as this organisation's github logo.

[2020-04-13 09:37] abhushanaj commented on #89
May i?

[2020-04-13 10:35] Adyasha8105 commented on #89
may i?

[2020-04-13 10:41] abhishekgupta368 commented on #89
Can I do it?

[2020-04-13 10:50] abhishekgupta368 commented on #85
I can do it, assign me, please

[2020-04-13 10:52] abhishekgupta368 commented on #85
I want to work, assign me please

[2020-04-13 10:57] tanishq9 commented on #89
@abhishekgupta368  assigning you, @abhu-A-J you may continue your work on last issue's PR.

[2020-04-13 11:02] abhishekgupta368 commented on #89
Where is the logo, can you please tell me?

[2020-04-13 11:40] tanishq9 commented on #85
It is assigned to everyone. I have written : OPEN FOR ALL in the issue name itself !

[2020-04-13 11:52] #87 closed

[2020-04-13 11:56] #89 closed

[2020-04-13 11:58] tanishq9 opened #91 "Disable submit button till response is received from the backend (/file_upload API)"
This is to prevent multiple requests being send to backend at once.

[2020-04-13 11:58] abhushanaj commented on #91
Sir May I??

[2020-04-13 12:01] tanishq9 opened #92 "Restructure output JSON"
Currently, we have 3 keys in JSON for every 'leaf disease' which are : symptoms, treatment and recommended products, add one more key of name : 'category' which tells the leaf disease name.

[2020-04-13 12:02] tanishq9 commented on #91
Assigning you @abhu-A-J

[2020-04-13 13:31] abhushanaj commented on #92
May I Sir. Also, should the name contain underscores ?? Or it should be grammatically correct like Tomato Septoria Leaf instead of Tomato_Septoria_Leaf?? Thank you!

[2020-04-13 14:13] tanishq9 commented on #92
yes assigning it to you, you can name it 'Tomato Septoria Leaf' instead of 'Tomato_Septoria_Leaf'.

[2020-04-13 16:10] #92 closed

[2020-04-13 16:33] tanishq9 opened #95 "Document the whole code"
You have to add comments in mainly `server.js` and `index.html` file explaining every single line of code. You also have to update README.md file with the project setup instructions. Try to make the code as easily understandable as possible to others. You will have full creative freedom for this issue.

[2020-04-13 16:34] abhushanaj commented on #95
May I Sir. I have a good understanding now!

[2020-04-13 16:39] tanishq9 commented on #95
Ya sure

[2020-04-14 08:23] #91 closed

[2020-04-14 08:34] tanishq9 opened #99 "Run a bash script in node backend when the server is started"
You have to write a .sh script to create a folder by the name `test_images` when the server is started.

Hint : Use `mkdir test_images` in the bash script(.sh)

[2020-04-14 08:35] abhushanaj commented on #99
Sir May I ?? I think I can solve this! the other issue I'm assigned will take some time

[2020-04-14 08:40] tanishq9 commented on #99
ok, assigned you.

[2020-04-14 09:31] #99 closed

[2020-04-14 10:24] #95 closed

[2020-04-14 13:06] tanishq9 opened #102 "Delete the uploaded image after processing"
The uploaded images are currently being saved in test_images folder which is mentioned in .gitignore, you are supposed to run a bash script(.sh) to delete the uploaded image after processing.

Hint : Use `rm -f test_images/fileUploadPath` command to delete that image.

[2020-04-14 13:07] abhushanaj commented on #102
May I Sir??

[2020-04-14 13:09] tanishq9 commented on #102
Sure, now you can refer the link that I shared with you on slack.

[2020-04-14 13:10] abhushanaj commented on #102
Okay Sure! Thanks

[2020-04-14 16:16] #102 closed

[2020-04-15 17:36] tanishq9 opened #106 "Avoid Request Timeout [DEPLOYMENT ISSUE]"
If the response time exceeds 30 seconds then output a dummy json (eg. potato healthy)

Observe the error logs : (the output comes after >30 seconds so no response is send even though we have predicted the output just 2-3 seconds after taking 30 seconds)
![Screenshot (300)](https://user-images.githubusercontent.com/35667308/79371373-e8ae7200-7f71-11ea-8d50-b9e9aaced771.png)

Although in some cases,

[2020-04-15 17:37] abhushanaj commented on #106
Sir May I??

[2020-04-15 17:38] tanishq9 commented on #106
Yes, assigning you.

[2020-04-16 10:21] #106 closed

[2020-04-16 17:15] tanishq9 opened #108 "Fix button issue [CSS+JS]"
Change the button functionality by fixing the text issue.

[2020-04-16 17:15] abhushanaj commented on #108
Sir May I??

[2020-04-16 17:16] tanishq9 commented on #108
Yes, assigning you.

[2020-04-17 07:41] #108 closed

[2020-04-17 08:54] tanishq9 opened #111 "Implement CORS [node]"
Add the required package for it.

[2020-04-17 08:54] abhushanaj commented on #111
Sir May I??

[2020-04-17 08:55] tanishq9 commented on #111
Yes, assigned you.

[2020-04-17 08:55] shreyakapoor08 commented on #111
can I do this?

[2020-04-17 09:06] #111 closed

[2020-04-18 13:04] tanishq9 opened #114 "API TESTING [POSTMAN] [OPEN FOR ALL]"
Use Postman to send a POST request at `http://crop-leaf.herokuapp.com/file_upload` and add your screenshot in `api_testing` folder.

Reference link : https://stackoverflow.com/questions/39037049/how-to-upload-a-file-and-json-data-in-postman

Sample screenshot :
![Screenshot (308)](https://user-images.githubusercontent.com/35667308/79638237-44f7d880-81a2-11ea-8848-0ef3cf02f810.png)

[2020-04-18 15:45] tanishq9 opened #123 "REQUEST TIMEOUT [DEPLOY ISSUE : H12 ERR HEROKU]"
Current logic to avoid timeout failing.

Attaching screenshot for the issue :

![Screenshot (310)](https://user-images.githubusercontent.com/35667308/79642138-7def7780-81b9-11ea-820f-846c3b2df410.png)

[2020-04-18 15:45] abhushanaj commented on #123
Can I try?

[2020-04-18 15:46] tanishq9 commented on #123
Sure.

[2020-04-18 15:47] abhushanaj commented on #123
Sir, this one is the exception condition only correct?

[2020-04-18 15:51] tanishq9 commented on #123
No, this is an error not an exception, also the default category is not being returned.

[2020-04-18 16:10] #123 closed

[2020-04-18 18:15] tanishq9 opened #126 "ERR_HTTP_HEADERS_SENT error crashing server deployed on heroku."
Work on this bug and optimize the working of the server.

[2020-04-18 18:16] abhushanaj commented on #126
I want to try this Sir!

[2020-04-18 18:16] tanishq9 commented on #126
Yes, assigning you.

[2020-04-18 18:43] #126 closed

[2020-04-20 05:47] Kuljeet-123 commented on #85
@tanishq9 Can I do this??

[2020-04-20 18:00] tanishq9 commented on #85
@Kuljeet-123 , it's open for all !

[2020-04-22 09:11] Souvikns opened #132 "Lacking License"

[2020-04-22 09:27] Souvikns commented on #132
The license tag in the readme file is showing not specified. When I checked I found the repo doesn't have a license yet. I thought of adding a license and then creating a pull request but then I figured that I should the maintainer first.

[2020-04-22 09:52] tanishq9 commented on #132
@Souvikns you can make a PR for it, I will review it.

[2020-04-22 09:56] Souvikns commented on #132
which license should I add

[2020-04-22 10:18] tanishq9 commented on #132
What all options do we have ?

[2020-04-22 10:20] Souvikns commented on #132
I guess MIT Apache 2.0 and all the free opensource license GitHub gives us

[2020-04-22 10:24] tanishq9 commented on #132
Let's go for MIT License as it lets people do almost anything they want with the project, like making and distributing closed source versions.

[2020-04-22 10:36] Souvikns commented on #132
Ok I am putting it

[2020-04-22 10:41] Souvikns commented on #132
I have created a PR

[2020-04-22 10:59] #132 closed

[2020-04-23 18:47] tanishq9 opened #134 "Use load balancing to handle multiple requests"
Incorporate best practices to make this node.js application more efficient.

[2020-04-23 18:47] abhushanaj commented on #134
Sir may i?

[2020-04-23 18:52] tanishq9 commented on #134
Sure @abhu-A-J , assigning you

[2020-04-24 13:12] #134 closed

[2020-04-26 06:01] Aman-Codes opened #137 "Add issue template"
As a GSSOC participant I would like to add a bug report, feature request template and pull request template.

[2020-04-26 06:02] Aman-Codes opened #138 "Add code of conduct"
As a GSSOC participant I would like to add a code of conduct.

[2020-04-26 15:03] #138 closed

[2020-04-26 15:03] #137 closed

[2020-04-28 18:15] tanishq9 opened #139 "Replace current License with GPL License"

[2020-04-28 18:16] shreyakapoor08 commented on #139
can I do this?

[2020-04-28 18:17] tanishq9 commented on #139
Assigning you.

[2020-04-28 18:42] weekly-digest[bot] opened #140 "Weekly Digest (21 April, 2020 - 28 April, 2020)"
Here's the **Weekly Digest** for [*CropAi/Backend*](https://github.com/CropAi/Backend):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 9 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #138 [Add code of conduct](https://github.com/CropAi/Backend/issues/138), by [Aman-Codes](https://github.com/Aman-Codes)
:heart: #137 [Add issue template](https://github.co

[2020-04-28 18:52] #139 closed

[2020-04-28 18:53] #140 closed

[2020-05-17 21:59] akt114 commented on #114
Can I still work in this issue?

[2020-05-18 09:43] tanishq9 commented on #114
Yes, you can @akt114

[2020-05-18 10:29] akt114 commented on #114
Cool, but what file do I need to POST? @tanishq9

[2020-05-18 11:41] tanishq9 commented on #114
@akt114 leaf image

[2020-05-28 08:26] #114 closed

[2020-05-28 08:26] #85 closed